.App {
  display: grid;
  grid-template-rows: auto auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
}

header h1 {
  display: inline;
  margin: 0;
}

main {
  padding: 10px;
}
